:root,
::after,
::before {
  box-sizing: border-box;
}

.app {
  border: 1px solid red;
  padding: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  width: 80%;
  border: 1px solid red;
  margin: auto;
  justify-content: space-around;
}

.avatar-wrapper {
  position: sticky;
  top: 50%;
}

.part-list {
  border: 1px solid red;
}
